<div class="nook-miles">
  <div class="nook-miles__icon">
    <img src="./img/icon-nook-mile.png" alt="nook miles icon"/>
  </div>
  <div class="nook-miles__count" id="searchAchievements"><ion-icon name="search"></ion-icon> &nbsp;Search</div>
</div>
<header class="header">
    <div class="logo-wrapper">
      <a href="/home" id="logoHref"><ion-icon name="home" class="logo" id="homeAchievement"></ion-icon></a>
    </div>
</header>

<div class="achievements-wrapper" id="allAchievements">
  <div class="achievements">
    {{#each achievement as |achievement| }}
      <div class="achievement transform achievement--{{achievement.category}} noSelect" tabindex="0" id="{{achievement.id}}" data-category="{{achievement.category}}">
        <div class="achievement__title noTextHighlight">{{achievement.name}}</div>
        <div class="stamp-wrapper">
          <img src="{{achievement.track}}" class="trackImg"/>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div class="achievements-wrapper"  id="noDisplaySolo">
  <div class="achievements">
    <div class="flex-column justify-center"><ion-icon name="chevron-back" class="carouselArrow" id="prevCard"></ion-icon></div>
    {{#each achievement as |achievement| }}
    <div class="achievement soloDisplay achievement--{{achievement.category}} noSelect display-none" tabindex="0" id="solo{{achievement.id}}">
      <div class="achievement__title noTextHighlight">{{achievement.name}}</div>
      <div class="stamp-wrapper">
        <img src="{{achievement.trackSolo}}" class="trackImg noTextHighlight"/>
        <div class="stamps">
          {{!- Create a helper to add stamps}}
        </div>
      </div>
    </div>
    {{/each}}
    <div class="flex-column justify-center"><ion-icon name="chevron-forward" class="carouselArrow" id="nextCard" ></ion-icon></div>
  </div>
</div>




<script src="./js/achievement.js"></script>