<div class="nook-miles">
  <div class="nook-miles__icon">
    <img src="./img/icon-nook-mile.png" alt="nook miles icon"/>
  </div>
  <div class="nook-miles__count" id="searchAchievements"><ion-icon name="search"></ion-icon> &nbsp;Search</div>
</div>
<header class="header">
    <div class="logo-wrapper">
      <a href="/home" id="logoHref"><ion-icon name="home" class="logo" id="homeAchievement"></ion-icon></a>
    </div>
</header>

<div class="achievements-wrapper" id="allAchievements">
  <div class="achievements">
    {{#each achievement as |achievement| }}
      <div class="achievement transform achievement--{{achievement.category}} noSelect" tabindex="0" id="{{achievement.id}}" data-category="{{achievement.category}}" data-tiers="{{achievement.numTiers}}">
        <div class="achievement__title">{{achievement.name}}</div>
        <div class="stamp-wrapper">
          <img src="{{achievement.track}}" class="trackImg" data-track="{{achievement.trackSolo}}"/>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div class="achievements-wrapper"  id="noDisplaySolo">
  <div class="achievements">
    <div class="achievement soloDisplay achievement--event noSelect" tabindex="0">
      <div class="achievement__title"></div>
      <div class="stamp-wrapper">
        <img src="" class="trackImg"/>
        <div class="stamps">

        </div>
        {{!-- {{#each stamp as |stamp| }}
         <button class="stampBtn" id="{{stamp.id}}" data-name="{{achievement.name}}">Achieve</button>  
        {{/each}} --}}
      </div>
    </div>
  </div>
</div>




<script src="./js/achievement.js"></script>