{{#each bugs as |bug| }}
  <div class="card text-center">
    <div class="card-header">
      <img class="creature-img" src="{{bug.image}}" alt="{{bug.name}}"/>
      <h2> {{bug.name}} </h2>   
    </div>
  
    <p class="card-contents">
      <p> Sell price: {{bug.sellPrice}} bells </p>
      <p> Flick price: {{bug.flickPrice}} bells </p>
      {{#if isAllYear}}
      <p> Available: All Year </p>
      {{else}}
      <p> Available: {{bug.monthN}} </p>
      {{/if}}

      {{#if isAllDay}}
      <p> Time: All Day</p>
      {{else}}
      <p> Time: {{bug.time}} </p>
      {{/if}}
      <p> Location: {{bug.location}}</p>
      <button class="bugDonateBtn" id="{{bug.id}}" data-name="{{bug.name}}">Donate</button>
    </p>
  </div>
{{/each}}

{{#each fish as |fish| }}
  <div class="card text-center">
    <div class="card-header">
      <img class="creature-img" src="{{fish.image}}" alt="{{fish.name}}"/>
      <h2> {{fish.name}} </h2>
    </div>

    <p class="card-contents">
      <p> Sell price: {{fish.sellPrice}} bells </p>
      <p> CJ price: {{fish.cjPrice}} bells </p>
      {{#if isAllYear}}
      <p> Available: All Year </p>
      {{else}}
      <p> Available: {{fish.monthN}} </p>
      {{/if}}

      {{#if isAllDay}}
      <p> Time: All Day</p>
      {{else}}
      <p> Time: {{fish.time}} </p>
      {{/if}}
      <p> Location: {{fish.location}}</p>
      <p> Shadow: {{fish.shadow}} </p>
      <button class="fishDonateBtn" id="{{fish.id}}" data-name="{{fish.name}}">Donate</button>
    </p>
  </div>
{{/each}}

<script src="./js/bug.js"></script>
<script src="./js/fish.js"></script>